<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to bottom, #d5d,#d66,#d33);
        }

        img {
            border: 7px dashed #fff;
        }
    </style>
</head>
<body>
    <div>
        <center><h1 style="color: #fff;">Scanner Qr Code</h1></center>
        <img src="{{ url_for('video_feed') }}" width="640" height="480">
    </div>
</body>
</html>
